.menu {
    position: relative;
  }
  
  .select {
    color: #828282;
    font-size: 16px;
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 135%;
  }
  
  .menu-button .icon {
    margin-left: 10px;
  }
  .dropdown-content {
    position: absolute;  
    z-index: 1000;  
    background-color: white;  
    border: 1px solid #ccc; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    max-height: 200px;  
    overflow-y: auto;  
    width: 135%; 
  }
  
  .menu:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-item {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  .leaflet-container {
    z-index: 0;  
  }
  
  .container-dropdown {
    position: relative;
    z-index: 10;  
  }