.footer {
  background-color: #82785A;
  color: white;
  padding: 3px;
  text-align: center;
  font-size: 14px;
  border-top:1px solid #ccc;
  position: relative;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-projeto {
  font-weight: bold;
  font-size: 16px;
}

.footer-contato {
  line-height: 0.6;
}

.footer-link {
  color: #61dafb;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    font-size: 12px;
  }

  .footer-container {
    padding: 0 10px;
  }
}
