.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #F1E6CF;
  height: 25px;
}

.logo-oilmap {
  width: 100px;
  height: 30px;
  object-fit: contain;
}

.logo-anp {
  width: 100px;
  height: 28px;
  object-fit: contain;
  justify-content: flex-end;
  position: fixed;
  right: 80px;
  top: 25px;
}

.sair {
  background-color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 10px;
  line-height: 5px;
  text-align: center;
  align-items: center;
  display: flex;
  
}

.icon {

  font-size: 20px;
  color: #82785A;
  margin: 0;
  padding: 0;
}